<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">

    <h3>{{ user.name}} {{user.age}} {{user.bir}}</h3>
    <hr>

    <!-- 通过v-for遍历对象取值  value代表对象中的值  key代表键  index是下标 从0开始-->
    <span v-for="(value, key, index) in user">
        {{key}}：{{value}} === {{index}}
    </span>

    <!-- 遍历数组   -->
    <ul>
        <li v-for="(city, index) in arr">{{index+1}}--{{city}}</li>
    </ul>

    <!--  遍历数组中的对象  -->
    <ul>
        <li v-for="(emp, index) in emp_list">
            {{index+1}}--{{ emp.name }}=={{emp.age}}=={{emp.bir}}
        </li>
    </ul>

    <table cellspacing="1" border="1px">
        <tr>
            <td>ID</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>生日</td>
        </tr>
        <!--  :key="index"  是为了方便vue排序来提供给vue本身的  key必须唯一      -->
        <tr v-for="(emp, index) in emp_list" :key="index">
            <td>{{index+1}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.age}}</td>
            <td>{{emp.bir}}</td>
        </tr>
    </table>

</div>

<script src="js/vue.min.js"></script>

<script>
    new Vue({
        el: "#app",
        data: {
            user: {name: "小黑", age: 23, bir: "2012-12-12"},
            arr: ["北京", "上海", "广州"],
            // 数组中包含对象
            emp_list: [
                {name: "小黑", age: 23, bir: "2012-12-12"},
                {name: "小白", age: 35, bir: "2012-12-12"},
                {name: "小红", age: 56, bir: "2012-12-12"},
            ],
        },
    })
</script>

</body>
</html>